# Ignore node_modules everywhere
**/node_modules/

# Ignore backend/dist
/backend/dist/

Ignore .env files in all relevant directories
# /backend/.env
# /frontend/.env
# /Proxy-Server/.env
/Proxy-Server/dist/
/backend/dist/
/frontend/dist/
/EC2/dist/
/EC2/.env/
/Proxy-Server/.env/
/backend/.env/
/frontend/.env/
/key.txt
